@page "/employee/admin/PartTemplates"
@rendermode InteractiveServer
@layout Layout.MainLayout

@using KeyKiosk.Data

<h3>Part Templates Page</h3>

@* Display list of existing templates*@
@if (TemplateList != null && TemplateList.Count > 0)
{
	<table>
		<tr>
			<th>Id</th>
			<th>Part Name</th>
			<th>Details</th>
			<th>Cost</th>
		</tr>
		@foreach (PartTemplate template in TemplateList)
		{
			<tr>
				<td>@template.Id</td>
				<td>@template.PartName</td>
				<td>@template.Details</td>
				<td>@template.CostCents</td>
				<td>
					@* Deletes selected template *@
					<button @onclick="@(e => DeleteTemplate(template.Id))">
						Delete
					</button>
				</td>
			</tr>
		}
	</table>
}

<br />
<br />
<br />

<h1>Add New Template</h1>

<br />

@* Form to add new template *@
<EditForm Model="@TemplateToAdd" OnValidSubmit="@AddNewTemplate">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<label>Part Name</label>
	<input type="text" @bind="TemplateToAdd.PartName" />

	<label>Details</label>
	<input type="text" @bind="TemplateToAdd.Details" />

	<label>Cost in Cents</label>
	<input type="number" @bind="TemplateToAdd.CostCents" />

	<button type="submit">Submit</button>
</EditForm>

<br />
<br />
<br />

@if (TemplateList != null && TemplateList.Count > 0)
{
	<h1>Update Existing Template</h1>

	<br />

	@* Form to update existing template *@
	<EditForm Model="@TemplateToUpdate" OnValidSubmit="@UpdateExistingTemplate">
		<DataAnnotationsValidator />
		<ValidationSummary />

		<select @bind="TemplateToUpdate.Id">
			@foreach (PartTemplate template in TemplateList)
			{
				<option value="@template.Id">@template.PartName</option>
			}
		</select>

		<label>New Details</label>
		<input type="text" @bind="TemplateToUpdate.Details" />

		<label>New Cost in Cents</label>
		<input type="number" @bind="TemplateToUpdate.CostCents" />

		<button type="submit">Submit</button>
	</EditForm>
}